<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <head>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        {# css #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap-datetimepicker-0.0.10/css/bootstrap-datetimepicker.min.css') }}" />

        {# frontend.less #}
        <link rel="stylesheet/less" type="text/css" href="{{ asset('bundles/musicstationsite/css/frontend.less') }}" />

        {# javascripts #}
        <script src="{{ asset('assets/lessjs/less-1.3.3.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/jquery/jquery-1.8.2.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/bootstrap-datetimepicker-0.0.10/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/masonry/masonry.pkgd.min.js') }}" type="text/javascript"></script>
    </head>

    <body class="route-{{ app.request.get('_route') }}">

        <div id="header" class="container">
            <div class="row">
                <div class="span12">
                    <div class="well">
                        <a href="{{ path('homepage') }}">MusicStation</a>

                        <ul id="submenu">
                            <li>
                                <a href="{{ path('about') }}">
                                    <i class="icon-info-sign icon-white"></i> about
                                </a>
                            </li>
                            <li id="artist_index">
                                <a href="{{ path('artist_index') }}">
                                    <i class="icon-music icon-white"></i> artists
                                </a>
                            </li>
                            <li id="feedback">
                                <a href="{{ path('feedback') }}">
                                    <i class="icon-heart icon-white"></i> feedback
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            {# flash messages ##############################################################################}
            <div class="row">
                <div class="span12">
                    {#
                        use:
                            $this->get('session')->getFlashBag()->add('success', '...');
                            $this->get('session')->getFlashBag()->add('error', '...');
                            $this->get('session')->getFlashBag()->add('info', '...');

                    #}
                    {% if app.session.started %}
                        {% set flashBag = app.session.flashbag.all %}

                        {% if flashBag|length > 0 %}
                            <div class="messages">
                                {% for key, flashMessages in flashBag %}
                                    {% for flashMessage in flashMessages %}
                                        <div class="alert alert-{{ key }}">
                                            {{ flashMessage }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                    {##}
                </div>
            </div>
            {# /flash messages #############################################################################}

            <div class="row">
                {% block container %}
                    <div class="span9">
                        {% block main %}{% endblock %}
                    </div>
                    <div class="span3">

                        <div id="box-user-info" class="{{ (is_granted('IS_AUTHENTICATED_FULLY')) ? 'logged':'' }}">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('user_index') }}">
                                    <i class="icon-user"></i> {{ app.user }}
                                </a>
                                <br>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="icon-off"></i> logout
                                </a>
                            {% else %}
                                <a href="{{ path('fos_user_registration_register') }}">
                                    register
                                </a>
                                <br>
                                or
                                <br>
                                <a href="{{ path('fos_user_security_login') }}">
                                    login
                                </a>
                            {% endif %}
                        </div>

                        {% block shout_aside_latests %}
                            {{ render_esi(controller('MusicStationSiteBundle:Shout:_aside_latests', {'limit': 8})) }}
                        {% endblock %}

                    </div>
                {% endblock %}
            </div>
        </div>

    </body>

</html>