{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block main %}

    <div class="box-events js-masonry" id="box-events">
        {% for event in events %}
            <div class="item">

                <div class="event-info">
                    <a href="{{ path('event_show', {slug: event.slug}) }}">
                        <span class="start-date">{{ event.startDate|date('d/m/Y @H:i') }}</span>
                        <br>
                        <span class="location">{{ event.location }}</span>
                    </a>
                </div>

                <div class="artist">
                    <a href="{{ path('artist_show', {slug: event.artist.slug}) }}">
                        <img src="{{ asset('images/'~event.artist.image) }}">
                        {{ event.artist.name }}
                    </a>
                </div>

                <div class="event-title">
                    <a href="{{ path('event_show', {slug: event.slug}) }}">
                        <span class="start-date"><i>{{ event.title }}</i></span>
                    </a>
                </div>

                <a class="more-info" href="{{ path('event_show', {slug: event.slug}) }}">
                    info
                </a>
            </div>
        {% endfor %}
    </div>

    <script>
        $(function() {
            var $container = $('#box-events');
            // initialize
            $container.masonry({
                columnWidth: 200,
                itemSelector: '.item'
            });
        })
    </script>

{% endblock %}