{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block container %}

    <div class="span12">
        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}

            <fieldset>
                <legend>{{ (entity.id) ? 'Event edit' : 'Event creation' }}</legend>

                <div class="control-group {{ (form_errors(form.title)) ? 'error':'' }}">
                    {{ form_label(form.title, null, {'label_attr': {'class': 'control-label'}}) }}
                    <div class="controls">
                        {{ form_widget(form.title) }}
                        {% if form_errors(form.title) %}
                            <span class="help-inline">{{ form_errors(form.title) }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="control-group {{ (form_errors(form.location)) ? 'error':'' }}">
                    {{ form_label(form.location, null, {'label_attr': {'class': 'control-label'}}) }}
                    <div class="controls">
                        {{ form_widget(form.location) }}
                        {% if form_errors(form.location) %}
                            <span class="help-inline">{{ form_errors(form.location) }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="control-group {{ (form_errors(form.startDate)) ? 'error':'' }}">
                    {{ form_label(form.startDate, null, {'label_attr': {'class': 'control-label'}}) }}
                    <div class="controls">
                        <div id="datetimepicker-{{ form.startDate.vars.id }}" class="input-append date">
                            {{ form_widget(form.startDate, {'attr': {'data-format': 'yyyy/MM/dd hh:mm:ss'}}) }}
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                        {% if form_errors(form.startDate) %}
                            <span class="help-inline">{{ form_errors(form.startDate) }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="control-group {{ (form_errors(form.endDate)) ? 'error':'' }}">
                    {{ form_label(form.endDate, null, {'label_attr': {'class': 'control-label'}}) }}
                    <div class="controls">
                        <div id="datetimepicker-{{ form.endDate.vars.id }}" class="input-append date">
                            {{ form_widget(form.endDate, {'attr': {'data-format': 'yyyy/MM/dd hh:mm:ss'}}) }}
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                        {% if form_errors(form.endDate) %}
                            <span class="help-inline">{{ form_errors(form.endDate) }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{{ path('user_event') }}" class="btn">
                        Back to the list
                    </a>
                </div>
            </fieldset>

            {{ form_rest(form) }}
        </form>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#datetimepicker-{{ form.startDate.vars.id }}').datetimepicker({
                language: 'it-IT'
            });
            $('#datetimepicker-{{ form.endDate.vars.id }}').datetimepicker({
                language: 'it-IT'
            });
        });
    </script>

{% endblock %}